<!DOCTYPE html>
<html lang="ru">
<%- include('../partials/head'); %>
<body>
  <%- include('../partials/header'); %>

  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, harum neque enim laboriosam doloribus repellendus reprehenderit dignissimos, quidem doloremque, vel facere fuga aliquam corrupti. Aperiam vero pariatur voluptatibus odio nemo!</p>

</body>
</html>